/* From the top first - Main toolbar with url */
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}

/* From the top second - Bookmarks toolbar */
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}

/* From the top third - Tabs bar */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}


#main-window {
  background: #191919 !important;
}


/* macOS window control buttons */
.titlebar-buttonbox-container {
  position: fixed !important;
  display: block !important;
  /*top: -1px !important;
  left 2px !important;*/
  top: 11px !important;
  left: 1px !important;
}


/* URL BAR */

#urlbar {
  box-shadow: 0 0 3px transparent !important;
  border: 1px solid transparent !important;
  background: #6a6b6b !important;
  margin-top: 1px !important;
  margin-bottom: -1px !important;
  margin-right: 128px !important;
  border: 0 !important;
  border-radius: 4px 4px 4px 4px !important;
  --autocomplete-popup-highlight-background: #313131ad !important;
}

/* URL bar search popup */
#urlbar-container {
  max-width: 750px !important;
  transform: translateY(0);
  position: relative !important;
  z-index: 10;
  padding-block: 3px !important;
  padding-inline: 0px !important;
  margin-inline: 5px !important;
  
}

#urlbar-results {
  max-width: 100% !important;
  background-color: #6a6b6b !important;
  font-size: 12px !important;
  
}

/* Placement of URL text */
:root[uidensity=compact] #urlbar, :root[uidensity=compact] .searchbar-textbox {
  font-size: 11px !important;
  min-height: 25px !important;
}
:root[uidensity=compact] #identity-box {
  max-height: 25px;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container, #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
}
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
  border-radius: 4px 4px 8px 8px !important;
}

#urlbar-zoom-button {
	display:none!important;
}

#urlbar-background {
		display: none !important;

}



/* NAV BAR */

/* Centered URL bar */
#nav-bar-customization-target {
  -moz-box-pack: center !important;
}

/* Spacing from URL to tabs */
#nav-bar {
  padding-bottom: 8px !important;
  padding-left: 75px !important;
  padding-right: 75px !important;
}


#nav-bar toolbarbutton {
    opacity: 0 !important;
    pointer-events: none !important;
    transition: margin-left 100ms var(--animation-easing-function), opacity 100ms var(--animation-easing-function), transform 100ms var(--animation-easing-function) !important;
}




/* TABS */


.tab-throbber::before {
  fill: #c6c6c6 !important;
  opacity: 1 !important;
}

.tabbrowser-tab[fadein] {
  max-width: 100vw !important
}

.tab-icon-image {
  display: none !important;
}

.tab-close-button:hover {
  fill-opacity: 0 !important;
}

#TabsToolbar {
  color: #a6a6a8 !important;
  margin-bottom: 9.5px !important;
}

#titlebar {
  margin-bottom: -9.5px !important;
}

#tabbrowser-tabs {
  --tab-line-color: transparent !important;
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: #171717 !important;
  margin-top: -5px !important;
}

.tabbrowser-tab:hover {
  color: white !important;
}

.tabbrowser-tab::after {
  opacity: 0 !important;
}

.titlebar-spacer[type="pre-tabs"] {
  border-right: none !important;
}

.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-bottom-line {
  height: 1.3px !important;
  opacity: .3 !important;
  margin-bottom: 3px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

#tabbrowser-tabs {
  --tab-min-height: 26px !important;
  margin-left: 0px !important;
  height: 26px !important;
}

#tabs-newtab-button {
  transform: scale(.8, .9) !important;
}

#tabs-newtab-button:hover>.toolbarbutton-icon {
  background: none !important;
}

#tabs-newtab-button {
     display:none !important;
}

.tab-background[selected="true"] {
  border-radius: 0px 0px 6px 6px !important;
}



/* Popup Menu */
menupopup {
  -moz-appearance: none !important;
  background-color: #4a4a4f !important;
  border: 1px solid #333 !important;
  margin: -1px 0 0 0 !important;
  border-radius: 4px !important;
  transform: scale(.9, .9) !important;
}

menuitem:hover, menugroup:hover, menu:hover {
  -moz-appearance: none !important;
  background: #5c5c61 !important;
}

menuseparator {
  -moz-appearance: none !important;
  max-height: 1px !important;
  border: none !important;
  padding: 0.5px 0 !important;
  background-color: #5c5c61 !important;
}

menuitem, menu {
  -moz-appearance: none !important;
  color: white !important;
  padding: 1px 1px 2px 11px !important;
  min-height: 25px !important;
}

menugroup {
  padding: 2px !important;
  background-color: transparent !important;
}

.menu-right {
  -moz-appearance: none !important;
  padding: 7px !important;
  margin-right: 6px !important;
  color: white !important;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) scale(.35);
}



/* Bookmark Bar */
.bookmark-item>.toolbarbutton-icon {
  display: none !important;
}

#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon[label]: {
  margin-inline-end: 0px !important;
}

#PlacesToolbarItems {
  -moz-box-pack: center;
  color: #ccccce !important;
  margin-bottom: 1px !important;
}

toolbarbutton.bookmark-item:hover {
  background-color: #424141 !important;
  border-radius: 3px !important;
}

.toolbarbutton-1 {
  --toolbarbutton-hover-background: #424141 !important;
  --toolbarbutton-active-background: #424141 !important;
  transform: scale(.8, .8) !important;
}

.urlbarView {
  top: calc(100% - 5px) !important;
  width: 100%;
  border-width: 0 !important;
  border-radius: 0 0 4px 4px !important;
}

:root[uidensity="compact"] .urlbarView {
  margin-top: 2px !important;
}

:root[uidensity="touch"] .urlbarView {
  margin-top: 1px !important;
}

#urlbar[open] {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.urlbarView-row {
  padding: 6px 0px !important;
}

#tracking-protection-icon-container {
  transform: scale(.85, .85) !important;
  margin-left: -3px !important;
  filter: grayscale(65%) !important;
}

#urlbar-results .urlbarView-row {
  background: block !important;
}

.urlbarView-favicon[src="chrome://browser/skin/search-glass.svg"] {
  transform: scale(.5, .5) !important;
}

.urlbarView-favicon {
  transform: scale(.8, .75) !important;
  filter: grayscale(75%) !important;
}

.urlbarView-action {
  color: #CA6924 !important;
}

/* OTHER */


.webextension-browser-action {
	filter: saturate(0%);
}


.tabbrowser-tab .tab-close-button {
  display: none !important;
}

/*
.tabbrowser-tab:hover .tab-close-button {
  display: initial !important;
}

*/

.tabbrowser-tab[usercontextid] .tab-bottom-line {
    display: none !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton{
    opacity:1 !important;
    margin-left:0 !important;
    pointer-events: auto !important;
}


#PanelUI-menu-button {
    display: none;
}


#back-button {
   display: none;
}
#forward-button {
   display: none;
}

